{% extends "base.html" %}
{% load staticfiles %}

  {% block head_block %}
  <link rel="stylesheet" href="{% static 'css/clinics.css' %}">
  {% endblock %}

  {% block main_block %}
  <!-- our depertment part start-->
  <section class="our_depertment section_padding">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-xl-12">
          <div class="depertment_content">
            <div class="row justify-content-center">
              <div class="col-xl-8">
                <h2>Our Clinics</h2>
                <div class="row">
                  <div class="col-lg-6 col-sm-6">
                    <div class="single_our_depertment">
                      <span class="our_depertment_icon"><img src="{% static 'img/icon/feature_4.png' %}" alt=""></span>
                      <h4>Clinic 2</h4>
                      <div class="clinics">
                        <ul class="p-0 m-0">
                          <li>Monday - Friday <span>20.00 - 22.00</span></li>
                          <li>Saturday<span>11.00 - 13.00</span></li>
                          <li>Saturday <span>20.00 - 22.00</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <div class="single_our_depertment">
                      <span class="our_depertment_icon"><img src="{% static 'img/icon/feature_4.png' %}" alt=""></span>
                      <h4>Clinic 2</h4>
                      <div class="clinics">
                        <ul class="p-0 m-0">
                          <li>Monday - Friday <span>20.00 - 22.00</span></li>
                          <li>Saturday<span>11.00 - 13.00</span></li>
                          <li>Saturday <span>20.00 - 22.00</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <div class="single_our_depertment">
                      <span class="our_depertment_icon"><img src="{% static 'img/icon/feature_4.png' %}" alt=""></span>
                      <h4>Clinic 2</h4>
                      <div class="clinics">
                        <ul class="p-0 m-0">
                          <li>Monday - Friday <span>20.00 - 22.00</span></li>
                          <li>Saturday<span>11.00 - 13.00</span></li>
                          <li>Saturday <span>20.00 - 22.00</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <div class="single_our_depertment">
                      <span class="our_depertment_icon"><img src="{% static 'img/icon/feature_4.png' %}" alt=""></span>
                      <h4>Clinic 2</h4>
                      <div class="clinics">
                        <ul class="p-0 m-0">
                          <li>Monday - Friday <span>20.00 - 22.00</span></li>
                          <li>Saturday<span>11.00 - 13.00</span></li>
                          <li>Saturday <span>20.00 - 22.00</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- our depertment part end-->

  {% endblock %}
